<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-inverse table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Order Placed</th>
        <th>Order Completed</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody class="text-light">
      <tr *ngFor="let order of orders">
        <td>{{order.id}}</td>
        <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
        <td>{{order.total}}</td>
        <td>{{order.placed | date: 'dd/MM/yyyy'}}</td>
        <td>{{order.completed | date: 'dd/MM/yyyy'}}</td>
        <td>Status</td>
      </tr>
    </tbody>
  </table>
</div>
